body{
    background-color: #B7D7E8;
}
header{
    background-color: #DCEAF4;
    border: 1px solid #bfcacb;
    border-radius: 3px;
    padding: 8px 10px;
}
header * {
    display: inline;
    vertical-align: middle;
}
nav ul {
    margin: 0;
    padding: 10px;
}
nav li {
    margin: 10px;
}
nav li a {
    text-decoration: none;
}

article{
    display: table-cell;
    width: 50%;
    padding: 10px 15px;
    border: 10px solid #b7d7e8;
    background-color: #E5F0F7;
}

footer{
    background-color: #DCEAF4;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #bfcacb;
}
footer p {
    margin: 5px;
}