*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    width: 65vw;
    display: flex;
    gap: 14px;
    height: 500px;
}
.container img{
    width: 25%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 1px 1px 7px black;
    object-position: center;
    flex-shrink: 1;
}

.container img:hover{
    width: 95%;
    transition: 300ms ease-in-out;
}
